.best-sellers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.best-sellers__title {
    font-size: 4rem;
    text-align: center;
    padding: 10rem 0;
}

.best-sellers__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.best-sellers__link {
    text-decoration: none;
    color: #111;
    width: 100%;
    height: 220px;
}

.best-sellers__image {
    width: 100%;
    height: 100%;
}

.best-sellers__details {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.best-sellers__rating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.best-sellers__rate {
    font-size: 1.4rem;
    text-decoration: underline;
}

.best-sellers__name {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
}

.swiper {
    width: 100%;
    max-width: 1190px;
    overflow: hidden;
    padding: 0 2rem;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.swiper-slide {
    flex: 0 0 auto;
    width: auto;
}

.swiper-control {
    max-width: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    height: 4rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    background-color: #fff;
    border-radius: 50%;
    height: 3rem;
    color: #000;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.3rem;
    font-size: 1rem;
}

.swiper-pagination {
    position: absolute;
    bottom: -10px;
}




@media (min-width: 1201px) {}

@media (max-width: 1200px) {}

@media (min-width: 751px) and (max-width: 850px) {
    .best-sellers__list {
        padding: 0 7rem;
    }
}

@media (max-width: 749px) {
    .best-sellers__title {
        font-size: 3rem;
        padding: 5rem 0;
    }

    .best-sellers__rating {
        flex-wrap: wrap;
    }

    .best-sellers__rate {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .best-sellers {
        padding: 0 3rem;
    }
}