*,
*::before,
*::after {
    padding: 0;
    font-weight: inherit;
    margin: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
    color: #212b36;
    font-weight: 500;
    background-color: #ECECEC;
    line-height: 150%;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    position: relative;
}